@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300;1,600&family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/*HEADER*/

header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header_tastour{
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/tastour\ header.jpg);
}

.header_grotte{
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/Grotte\ Kriz\ header.jpg);
}

.header_benimtir{
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/beni\ mtir\ header.jpg);
}

.header_capblanc{
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/cap\ blanc\ header.jpg);
}

.header_caphmem{
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/cap\ hmem\ header.jpg);
}

.header_ainjmil{
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/ain\ jmil\ header.jpg);
}

.logo{
    cursor: pointer;
}

.logo:hover{
    text-decoration: underline;
    text-decoration-color: chocolate;
}

.logo img{
    width: 80px;
    height: 80px;
}

.logo h2{
    font-size: 20px;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 25px;
}



ul{
    display: flex;  
    list-style-type: none;
}

nav{
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 85%;
    justify-content: space-between;
}
nav ul li{
    margin: 25px;
    position: relative;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: chocolate; 
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}

li:hover::after{
    width: 100%;
}

.container{
    position: relative;
    top: 60px;
    width: 100%;
    text-align: center;
    color: white;
}

.container h1{
    font-size: 70px;
    position: relative;
    top: 35px;
    color: chocolate;
}

/*PRESENTATION*/

#presentation{
    width: 100%;
    height: 1000px;
    background-color: white;
    padding-top: 10px;
}

.titre2{
    text-align: center;
    font-size: 50px;
    position: relative;
    text-shadow:0 0 2px #FFD100,0 0 30px cornflowerblue,0px 0px 5px chocolate;
}

#presentation aside{
    float: right;
    position: relative;
    right: 20px;
}

#presentation aside img{
    width: 320px;
    height: 320px;
    z-index: 1;
}

#presentation p{
    padding-right: 320px;
    margin: 30px;
    position: relative;
    top: 100px;
}

.diff{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: brown;
    font-weight: 700;
}

#presentation iframe{
    position: relative;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 400px;
}

/*ACTIVITES*/

#activites{
    width: 100%;
    height: 550px;
    background-color: #bdbdbd;
}

#activites .titre2{
    top: 20px;
}

#activites .act{
    display: flex;
    justify-content: center;
}

#activites .act div{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    box-shadow: 1px 1px 30px rgb(0, 0, 0);
    padding: 20px;
    margin: 50px;
    width: 290px;
    height: 290px;
}

#activites .act img{
    width: 100%;
    height: 70%;
}

#activites .act{
    height: 20%;
    text-decoration: 5px underline;
    text-decoration-color: chocolate;
    color: rgb(0, 0, 0);
}

/*AVIS*/

#avis{
    width: 100%;
    height: 800px;
    background-color: white;
}


#avis .table_mere{
    position: relative;
    top: 40px;
    left: 10%;
}

.table_mere tr td{
    width: 1000px;
    max-height: 100px;
    margin: 10px;
}

.sous_titre_avis{
    
    font-size: 40px;
    text-align: center;
}

#P .sous_titre_avis{
    color: green;
}

#N .sous_titre_avis{
    color: red;
}



.personne{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
}

.personne:hover{
    background-color: rgb(43, 43, 43);
    color: white;
}

.personne .profil{
    width: 80px;
    height: 80px;
    
}

.profil img{
    width: 100%;
    height: 100%;
}

.personne .avis_personne div{
    width: 890px;
    height: 60px;
}

.avis_personne div:first-child{
    z-index: 1;
}

.avis_personne div:last-child{
    position: relative;
    bottom: 45px;
    z-index: 2;
}

.etoile{
    display: inline;
    position: relative;
    left: 16%;
}

.etoile img{
    width: 25px;
    height: 25px;
    margin-left: -8px;
}

/*LOCALISATION*/

#maps iframe{
    width: 100%;
    height: 430px;
    margin-bottom: -25px;
}

/*FOOTER*/

.footer_container{
    width: 100%;
    height: 150px;
    background-color: rgb(31, 31, 31);
    text-align: center;
}


footer h3{
    color: white;
    position: relative;
    top: 40px;
}

footer ul{
    width: 30%;
    position: relative;
    left: 41.5%;
    top: 30px;
}

footer ul li{
    margin: 5px;
}

footer ul li img{
    width: 30px;
    height: 30px;
}

.copyright{
    background-color: black;
    width: 100%;
    height: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.copyright p{
    color: white;
    position: absolute;
    font-size: small;
    left: 39%;
}


/*HAUT*/

#haut{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    background-color: chocolate;
    position: fixed;
    left: 92%;
    top: 85%;
    z-index: 2;
}

#haut img{
    width: 20px;
    height: 30px;
    position: relative;
    top: 14px;
    left: 20px;
    color: white;
}