@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300;1,600&family=Poppins:wght@500&display=swap');


body{
    background-color: #bdbdbd;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/*HEADER*/

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url(img/header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo{
    cursor: pointer;
}

.logo:hover{
    text-decoration: underline;
    text-decoration-color: chocolate;
}

.logo img{
    width: 80px;
    height: 80px;
}

.logo h2{
    font-size: 20px;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 25px;
}



ul{
    display: flex;  
    list-style-type: none;
}

nav{
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 85%;
    justify-content: space-between;
}
nav ul li{
    margin: 25px;
    position: relative;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: chocolate; 
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}

li:hover::after{
    width: 100%;
}

#logo:hover{
    color: chocolate;
}


.container{
    position: relative;
    top: 60px;
    width: 100%;
    text-align: center;
    color: white;
}

.container h1{
    font-size: 70px;
    position: relative;
    top: 35px;
}

.container p{
    margin-bottom: 40px;
}

.container button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid chocolate;
    background: transparent;
    cursor: pointer;
    color: white;
    position: relative;
    top: 60px;
}

.container button:hover{
    background-color: white;
    color: chocolate;
    border: none;
}

/*SECTION PRESENTATION*/

#presentation{
    width: 85%;
    height: 350px;
    background-color: white;
    margin: 20px auto;
    padding-top: 50px;
}

.titre2{
    text-align: center;
    text-shadow:0 0 2px #FFD100,0 0 30px cornflowerblue,0px 0px 5px chocolate, 0 0 150px blue;
    color:black;
    font-size: 50px;
    position: relative;
    bottom: 60px;
}

.text1{
    padding: 30px;
    position: relative;
    bottom: 40px;
}

.text1::first-letter{
    color: chocolate;
    font-size: 50px;
}



#image1{
    width: 300px;
    height: 250px;
    margin-right: 30px;
    float: right;
    position: relative;
    bottom: 70px;
}


/*SECTION LIEUX*/

#lieux{
    width: 85%;
    height: 1900px;
    background-color: white;
    margin: 20px auto;
}

table{
    margin: auto;
    position: relative;
    top: 40px;
    border-spacing: 30px;
}


#lieux .titre2{
    top:60px;
    left: 15%;
    width: 70%;
}

.titre3{
    font-size: 40px;
    color: chocolate;
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

td{
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.border{
    border: 1px  solid rgb(167, 167, 167); 
    box-shadow: 1px 1px 16px #a7a7a7;
}


.imglieu{
    width: 280px;
    height: 280px;
}

.border:hover{
    box-shadow: 1px 1px 30px #1b1b1b;
    cursor: pointer;
    border: none;
}

.border a:hover{
    text-decoration: underline;
    text-decoration-color: chocolate;
}

.border h4{
    font-size: 20px;
    color: black;
    position: relative;
}


/*FOOTER*/

.footer_container{
    width: 100%;
    height: 150px;
    background-color: rgb(31, 31, 31);
    text-align: center;
}


footer h3{
    color: white;
    position: relative;
    top: 40px;
}

footer ul{
    width: 30%;
    position: relative;
    left: 41.5%;
    top: 30px;
}

footer ul li{
    margin: 5px;
}

footer ul li img{
    width: 30px;
    height: 30px;
}

.copyright{
    background-color: black;
    width: 100%;
    height: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.copyright p{
    color: white;
    position: absolute;
    font-size: small;
    left: 39%;
}    


/*HAUT*/

#haut{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    background-color: chocolate;
    position: fixed;
    left: 92%;
    top: 85%;
    z-index: 2;
}

#haut img{
    width: 20px;
    height: 30px;
    position: relative;
    top: 14px;
    left: 20px;
    color: white;
}